* {
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 0.9375rem;
  font-family: "Times New Roman", Times, serif;
  background-color: lavender;
}

#main-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 10% 1fr 20%;
  gap: 0px 0px;
  height: 100%;
}

#rooms {
  grid-area: 1 / 1 / 2 / 2;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  height: 100%;
}

#rooms img,
#users img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
}

#users * {
  color: white;
}

#users .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#chat {
  position: relative;
}

.form-container {
  position: fixed;
  padding: 16px 4px;
  background: black;
  bottom: 0;
  right: 0;
  width: 100%;
}

#messages {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-content: center;
  align-items: flex-end;
  margin: 8px;
  overflow: auto;
  height: calc(100vh - 35px);
}

form {
  display: grid;
  grid-template-columns: 90% 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 16px;
  grid-auto-flow: row;
}

form input {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 16px;
  padding: 0 16px;
}

form button {
  color: white;
  background: black;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid white;
  grid-area: 1 / 2 / 2 / 3;
}

#messages li img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#messages li {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  background: blue;
  padding: 16px;
  border-radius: 8px;
  width: fit-content;
}

#messages li::after {
  content: attr(data-timestamp);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
}

.room {
  position: relative;
}

.room.selected::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid red;
  transform: translate(-68px, -4px);
}

#users {
  grid-area: 1 / 3 / 2 / 4;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
